<h2 class="title">{{collectionName}}</h2>
<br><br>
<ul>
{{#contents}}
<li>
  <pre class="doc-preview">{{doc}}</pre>
</li>
<a href="/{{collectionName}}/{{_id}}/edit">edit</a>
{{/contents}}
</ul>


<script>
$('pre').on('click', function (event) {
  $(event.currentTarget).toggleClass('doc-preview');
});

</script>

