<h2 class="title">{{collectionName}}</h2>
<br><br>
{{#contents}}
<div class="row">
  <div class="span8">
    <pre class="document doc-preview">{{doc}}</pre>
  </div>
  <div class="span1">
    <a class="edit-link" href="/{{collectionName}}/{{_id}}/edit"><i class="icon icon-edit"></i></a>
  </div>
</div>
{{/contents}}


<script>
$('.document').on('click', function (event) {
  $(event.currentTarget).toggleClass('doc-preview');
});

// TODO: Find a better cursor than 'move'
$('.document').on('mouseover', function () {
  $('body').css('cursor', 'move');
});

$('.document').on('mouseout', function () {
  $('body').css('cursor', 'auto');
});
</script>

