<h2 class="title">{{collectionName}} ({{collectionCount}})</h2>
<br><br>
{{>partials/flashMessage}}

<!-- Create a document or delete a collection (confirmation asked for this action) -->
<a href="{{collectionName}}/newDocument" class="btn btn-info btn-mini">Add a document</a>
<button type="button" class="btn btn-danger btn-mini" id="deleteCollection">Delete collection</button>
<script>
  // What to do on a click on 'delete'
  $('#deleteCollection').on('click', function () {
    var doit = confirm('Are you sure you want to delete this collection? There is no going back!');
    if (doit) { window.location = '{{baseUrl}}/{{collectionName}}/delete'; }
  });
</script>

<br><br>
{{#pagination}}
<div class="pagination pagination-small collection-pagination">
  <ul>
    <li><a href="{{collectionName}}?page={{prev}}">&nbsp;&lt;&lt;&nbsp;</a></li>
    {{#pages}}
    <li {{#active}}class="active"{{/active}}>
      <a href="{{collectionName}}?page={{pageNumber}}" style="width: 15px; text-align: center;">{{label}}</a>
    </li>
    {{/pages}}
    <li><a href="{{collectionName}}?page={{next}}">&nbsp;&gt;&gt;&nbsp;</a></li>
  </ul>

  <a href="{{collectionName}}?page=all" class="pagination-all-link">&nbsp;&nbsp;See all results in one page</a>
</div>
{{/pagination}}

{{#contents}}
<div class="row">
  <div class="span8">
    <pre class="document doc-preview">{{doc}}</pre>
  </div>
  <div class="span1">
    <a class="edit-link" href="{{collectionName}}/{{_id}}/edit"><i class="icon icon-edit"></i></a>
  </div>
</div>
{{/contents}}


<script>
$('.document').on('click', function (event) {
  $(event.currentTarget).toggleClass('doc-preview');
});

$('.document').on('mouseover', function () {
  $('body').css('cursor', 'pointer');
});

$('.document').on('mouseout', function () {
  $('body').css('cursor', 'auto');
});
</script>

