<h2 class="title"><a href="{{baseUrl}}/{{collectionName}}">{{collectionName}}</a>/{{_id}}</h2>
<br><br>
{{>partials/flashMessage}}

<div class="row">
  <p>
	<a class="btn btn-mini btn-primary" href="{{baseUrl}}/{{collectionName}}/{{_id}}/edit">Edit</a>
  </p>
<pre class="document span9">{{doc}}</pre>
</div>

