<h2 class="title"><a href="{{baseUrl}}/{{collectionName}}">{{collectionName}}</a>/{{_id}}</h2>
<br><br>
{{>partials/flashMessage}}

<div class="row">
<pre class="document span9">{{doc}}</pre>
</div>

