<h2 class="title">{{collectionName}}/{{_id}}</h2>
<br><br>
<div class="row">
  <div id="editor" class="editor span9">{{doc}}</div>
</div>

<div class="after-editor">
  <input type="button" id="save" class="btn btn-primary" value="Save"><br>
</div>

<!-- Used to do a non-AJAX redirect -->
<form id="postToRedirect" style="display: none;" method="post" action="/{{collectionName}}/{{_id}}">
  <input type="hidden" value="" name="newData">
</form>

<script>
  // Setting up ACE editor
  var editor = ace.edit("editor")
    , JSModeC = require("ace/mode/javascript").Mode
    , JSMode = new JSModeC()
    , sess = editor.getSession()
    ;

  editor.getSession().setMode(JSMode);

  // Don't show "fake errors" since just the object is not considered valid javascript
  sess.setValue('doc = ' + sess.getValue() + ';');

  // What to do on a save
  $('#save').on('click', function () {
    var newDoc = editor.getSession().getValue();
    $('#postToRedirect input[name=newData]').attr('value', newDoc);
    $('#postToRedirect').submit();
  });
</script>
