body {
  padding-top: 25px;
}

.title {
  position: relative;
  left: 15px;
  font-weight:300;
  margin-bottom: -10px;
}

.editor {
  position: relative;
  height: 400px;
}

.after-editor {
  margin-top: 410px;
}

.top-left-title {
  margin-bottom: 30px;
}

.doc-preview {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.document {
  font-size: 10px;
  cursor: move;
}

.edit-link {
  position: relative;
  top: 10px;
}
