<!DOCTYPE html>
<!--[if IE]>         <html class="ie" lang="en"> <![endif]-->
<!--[if !(IE)]><!--> <html lang="en"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{title}}{{^title}}Mongo GUI{{/title}}</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.css">
    <link rel="stylesheet" href="/assets/website.css">
  </head>

  <body>
    <script src="/assets/ace/ace.js" type="text/javascript" charset="utf-8"></script>
    <script src="/assets/ace/mode-json.js" type="text/javascript" charset="utf-8"></script>

    This is the common layout, ugly isn't it?
    <br><br>

    {{>content}}

  </body>
</html>



